@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #315e62;
$linea-animal: #95c11f;
$linea-humana: #12b09b;
$background: #eeeeee;
$border: #5d5d5d;

$max_width: 1000px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Go To */

.go_to {
	padding: 10px;
	top: 30%;
	left: 0;
	border-radius: 0;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	position: fixed;
	z-index: 2;
	&.linea-animal {
		background-color: $linea-animal;
	}
	&.linea-humana {
		background-color: $linea-humana;
	}
}

/* Top */

.top {
	border-top: 5px solid $secondary_color;
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to3 {
		text-align: right;
	}
	&.linea-animal {
		border-color: $linea_animal;
		.moduletable_to2_la {
			ul.mega-menu {
				li {
					&.mega-menu-item-131 {
						a {
							padding: 0 5px 0 50px !important;
							background: {
								image: url(menu-animal-cow_bg.png) !important;
								position: left !important;
								repeat: no-repeat !important;
							}
							&:hover {
								background-image: url(menu-animal-cow_bg_hover.png) !important;
							}
						}
					}
					&.mega-menu-item-20 {
						a {
							padding: 0 5px 0 50px !important;
							background: {
								image: url(menu-animal-horse_bg.png) !important;
								position: left !important;
								repeat: no-repeat !important;
							}
							&:hover {
								background-image: url(menu-animal-horse_bg_hover.png) !important;
							}
						}
					}
					&.mega-menu-item-21 {
						a {
							padding: 0 5px 0 50px !important;
							background: {
								image: url(menu-animal-dog_bg.png) !important;
								position: left !important;
								repeat: no-repeat !important;
							}
							&:hover {
								background-image: url(menu-animal-dog_bg_hover.png) !important;
							}
						}
					}
				}
			}
		}
	}
	&.linea-humana {
		border-color: $linea_humana;
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin: 0;
		font: {
			size: 16px;
			weight: bold;
		}
	}
	h2 {
		margin: 0;
		font: {
			size: 16px;
			weight: bold;
		}
	}
	b,
	strong {
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.bellows {
		margin: 0 !important;
		background: transparent !important;
		box-shadow: none !important;
		ul.bellows-nav {
			li {
				border: none !important;
				a {
					margin-bottom: 10px;
					padding: 10px 20px !important;
					border: 1px solid $border;
					border-radius: 10px;
					color: $primary_color !important;
					text-transform: uppercase !important;
				}
			}
		}
	}
	.box {
		height: 92px;
		padding: 15px 0;
		color: #fff;
		text-align: center;
		p {
			margin: 0;
		}
		a {
			font-weight: bold;
			color: #fff;
		}
		&.big {
			padding: 5px 10px;
			a {
				font-size: 12px;
			}
		}
	}
	table.contact-us {
		thead {
			background-color: transparent;
			tr {
				th {
					.border_1 {
						padding: 2px;
						background-color: #606060;
						border-radius: 5px;
						color: #fff;
						text-align: center;
					}
				}
			}
		}
		tbody {
			background-color: transparent;
			tr {
				background-color: transparent;
				td {
					padding: 2px;
					.border_2 {
						padding: 2px;
						border: 1px solid #606060;
						border-radius: 5px;
						text-align: center;
					}
				}
			}
		}
	}
	.border_1 {
		margin-bottom: 10px;
		padding: 2px;
		background-color: #315e62;
		border-radius: 5px;
		color: #fff;
		text-align: center;
	}
	.border_2 {
		margin-bottom: 10px;
		padding: 2px;
		border: 1px solid #606060;
		border-radius: 5px;
		text-align: center;
	}
	.wpcf7-form {
		.border {
			margin-bottom: 10px;
			padding: 20px;
			border: 1px solid #606060;
			border-radius: 5px;
			[type=text],
			[type=email],
			textarea {
				margin: 0;
				background-color: transparent;
				border: 0;
				border-bottom: 1px solid #606060;
				box-shadow:  none;
				&::placeholder {
					color: $primary_color;
				}
			}
			textarea {
				border: 1px solid #606060;
			}
		}
		.button {
			width: 100%;
			margin: 0;
			background-color: #315e62 !important;
			border-radius: 5px;
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
	&.linea-animal {
		h2 {
			margin: 0 0 10px 0;
			color: $linea-animal;
		}
		.button {
			background-color: $linea-animal;
		}
		ul#mega-menu-linea-animal-bovinos-menu {
			li {
				max-width: 200px;
				a {
					height: inherit !important;
					padding: 15px 10px 15px 55px !important;
					background: {
						position: left !important;
						repeat: no-repeat !important;
					}
					line-height: inherit !important;
					text-align: inherit !important;
				}
				&.mega-menu-item-62 {
					a {
						background-image: url(menu-linea-animal-bovinos-1_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-animal-bovinos-1_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-63 {
					a {
						background-image: url(menu-linea-animal-bovinos-2_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-animal-bovinos-2_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-64 {
					a {
						background-image: url(menu-linea-animal-bovinos-3_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-animal-bovinos-3_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-69 {
					a {
						background-image: url(menu-linea-animal-bovinos-4_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-animal-bovinos-4_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-65 {
					a {
						background-image: url(menu-linea-animal-bovinos-5_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-animal-bovinos-5_bg_hover.png) !important;
						}
					}
				}
			}
		}
	}
	&.linea-humana {
		h2 {
			margin: 0 0 10px 0;
			color: $linea-humana;
		}
		.button {
			background-color: $linea-humana;
		}
		.bellows {
			ul.bellows-nav {
				li {
					&.bellows-current-menu-item {
						a {
							background-color: $linea-humana !important;
							color: #fff !important;
						}
					}
					a {
						border-color: $linea-humana !important;
						&:hover {
							background-color: $linea-humana !important;
							color: #fff !important;
						}
					}
				}
			}
		}
		ul#mega-menu-linea-humana-portafolio-de-servicios-menu {
			li {
				max-width: 100px;
				a {
					width: 100px !important;
					padding: 110px 10px 15px 10px !important;
					background: {
						position: 9px 15px !important;
						repeat: no-repeat !important;
					}
					line-height: inherit !important;
				}
				&.mega-menu-item-176 {
					&.mega-current_page_item {
						a {
							background-image: url(menu-linea-humana-portafolio-de-servicios-1_bg_hover.png) !important;
						}
					}
					a {
						background-image: url(menu-linea-humana-portafolio-de-servicios-1_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-humana-portafolio-de-servicios-1_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-175 {
					&.mega-current_page_item {
						a {
							background-image: url(menu-linea-humana-portafolio-de-servicios-2_bg_hover.png) !important;
						}
					}
					a {
						background-image: url(menu-linea-humana-portafolio-de-servicios-2_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-humana-portafolio-de-servicios-2_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-174 {
					&.mega-current_page_item {
						a {
							background-image: url(menu-linea-humana-portafolio-de-servicios-3_bg_hover.png) !important;
						}
					}
					a {
						background-image: url(menu-linea-humana-portafolio-de-servicios-3_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-humana-portafolio-de-servicios-3_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-173 {
					&.mega-current_page_item {
						a {
							background-image: url(menu-linea-humana-portafolio-de-servicios-4_bg_hover.png) !important;
						}
					}
					a {
						background-image: url(menu-linea-humana-portafolio-de-servicios-4_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-humana-portafolio-de-servicios-4_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-172 {
					&.mega-current_page_item {
						a {
							background-image: url(menu-linea-humana-portafolio-de-servicios-5_bg_hover.png) !important;
						}
					}
					a {
						background-image: url(menu-linea-humana-portafolio-de-servicios-5_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-humana-portafolio-de-servicios-5_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-171 {
					&.mega-current_page_item {
						a {
							background-image: url(menu-linea-humana-portafolio-de-servicios-6_bg_hover.png) !important;
						}
					}
					a {
						background-image: url(menu-linea-humana-portafolio-de-servicios-6_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-humana-portafolio-de-servicios-6_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-170 {
					&.mega-current_page_item {
						a {
							background-image: url(menu-linea-humana-portafolio-de-servicios-7_bg_hover.png) !important;
						}
					}
					a {
						background-image: url(menu-linea-humana-portafolio-de-servicios-7_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-humana-portafolio-de-servicios-7_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-169 {
					&.mega-current_page_item {
						a {
							background-image: url(menu-linea-humana-portafolio-de-servicios-8_bg_hover.png) !important;
						}
					}
					a {
						background-image: url(menu-linea-humana-portafolio-de-servicios-8_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-humana-portafolio-de-servicios-8_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-168 {
					&.mega-current_page_item {
						a {
							background-image: url(menu-linea-humana-portafolio-de-servicios-9_bg_hover.png) !important;
						}
					}
					a {
						background-image: url(menu-linea-humana-portafolio-de-servicios-9_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-humana-portafolio-de-servicios-9_bg_hover.png) !important;
						}
					}
				}
				&.mega-menu-item-167 {
					&.mega-current_page_item {
						a {
							background-image: url(menu-linea-humana-portafolio-de-servicios-10_bg_hover.png) !important;
						}
					}
					a {
						background-image: url(menu-linea-humana-portafolio-de-servicios-10_bg.png) !important;
						&:hover {
							background-image: url(menu-linea-humana-portafolio-de-servicios-10_bg_hover.png) !important;
						}
					}
				}
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 30px;
	.moduletable_b11 {}
	&.linea-animal {
		padding: 30px 0;
		background: {
			image: url(block_1_la_bg.png);
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		.moduletable_b11_la {
			color: #fff;
			h3 {
				margin: 0;
				padding-bottom: 10px;
				background: {
					image: url(moduletable_b11_la_h3_bg.png);
					position: bottom;
					repeat: no-repeat;
				}
				font: {
					size: 18px;
					weight: bold;
				}
				letter-spacing: 2px;
			}
			a {
				color: #fff;
			}
		}
	}
	&.linea-humana {
		padding: 30px 0;
		background: {
			image: url(block_1_lh_bg.png);
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		.moduletable_b11_lh {
			color: #fff;
			h3 {
				margin: 0;
				font: {
					size: 18px;
					weight: bold;
				}
				letter-spacing: 2px;
			}
			a {
				color: #fff;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	.moduletable_b41 {
		h3 {
			margin: 0;
			font: {
				size: 16px;
				weight: bold;
			}
			span {
				color: $linea-humana;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b21 {
		p {
			margin: 0;
		}
		a.button {
			margin: 0;
			background-color: $secondary_color;
		}
	}
	&.linea-animal {
		background-color: #fff;
		.moduletable_b21_la {
			p {
				margin: 0;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	.moduletable_b31 {
		h3 {
			margin: 0;
			font-size: 16px;
			line-height: 30px;
		}
		p {
			margin: 0;
		}
		a.hollow.button {
			margin: 0;
			border-color: $secondary_color;
			color: $secondary_color;
		}
		img {
			padding: 0 10px;
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to3 {
			padding: 10px 0;
			text-align: center;
			img {
				width: 40px;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {

	/* Top */

	.top {
		&.linea-animal {
			.moduletable_to2_la {
				ul.mega-menu {
					li {
						padding: 0 5px !important;
						background: {
							image: url(menu_li_bg.png) !important;
							position: right !important;
							repeat: no-repeat !important;
						}
						&:last-child {
							background-image: none !important;
						}
					}
				}
			}
		}
		&.linea-humana {
			.moduletable_to2_lh {
				ul#mega-menu-linea-humana-menu {
					li.mega-menu-item {
						padding: 0 1px !important;
						background: {
							image: url(menu_li_bg.png) !important;
							position: right !important;
							repeat: no-repeat !important;
						}
						&:last-child {
							background-image: none !important;
						}
						a.mega-menu-link {}
						ul.mega-sub-menu {
							li.mega-menu-row {
								ul.mega-sub-menu {
									li.mega-menu-column {
										width: 100px !important;
										ul.mega-sub-menu {
											li.mega-menu-item {
												width: 100px !important;
												padding: 0 !important;
												&.mega-current_page_item {
													a {
														background-color: $linea-humana !important;
														color: #fff !important;
													}
												}
												a.mega-menu-link {
													width: 100px !important;
													height: 170px !important;
													padding: 110px 10px 15px 10px !important;
													background: {
														position: 9px 15px !important;
														repeat: no-repeat !important;
													}
													line-height: inherit !important;
												}
												&.mega-menu-item-495 {
													&.mega-current_page_item {
														a {
															background-image: url(menu-linea-humana-portafolio-de-servicios-1_bg_hover.png) !important;
														}
													}
													a {
														background-image: url(menu-linea-humana-portafolio-de-servicios-1_bg.png) !important;
														&:hover {
															background-image: url(menu-linea-humana-portafolio-de-servicios-1_bg_hover.png) !important;
														}
													}
												}
												&.mega-menu-item-498 {
													&.mega-current_page_item {
														a {
															background-image: url(menu-linea-humana-portafolio-de-servicios-2_bg_hover.png) !important;
														}
													}
													a {
														background-image: url(menu-linea-humana-portafolio-de-servicios-2_bg.png) !important;
														&:hover {
															background-image: url(menu-linea-humana-portafolio-de-servicios-2_bg_hover.png) !important;
														}
													}
												}
												&.mega-menu-item-499 {
													&.mega-current_page_item {
														a {
															background-image: url(menu-linea-humana-portafolio-de-servicios-3_bg_hover.png) !important;
														}
													}
													a {
														background-image: url(menu-linea-humana-portafolio-de-servicios-3_bg.png) !important;
														&:hover {
															background-image: url(menu-linea-humana-portafolio-de-servicios-3_bg_hover.png) !important;
														}
													}
												}
												&.mega-menu-item-500 {
													&.mega-current_page_item {
														a {
															background-image: url(menu-linea-humana-portafolio-de-servicios-4_bg_hover.png) !important;
														}
													}
													a {
														background-image: url(menu-linea-humana-portafolio-de-servicios-4_bg.png) !important;
														&:hover {
															background-image: url(menu-linea-humana-portafolio-de-servicios-4_bg_hover.png) !important;
														}
													}
												}
												&.mega-menu-item-501 {
													&.mega-current_page_item {
														a {
															background-image: url(menu-linea-humana-portafolio-de-servicios-5_bg_hover.png) !important;
														}
													}
													a {
														background-image: url(menu-linea-humana-portafolio-de-servicios-5_bg.png) !important;
														&:hover {
															background-image: url(menu-linea-humana-portafolio-de-servicios-5_bg_hover.png) !important;
														}
													}
												}
												&.mega-menu-item-502 {
													&.mega-current_page_item {
														a {
															background-image: url(menu-linea-humana-portafolio-de-servicios-6_bg_hover.png) !important;
														}
													}
													a {
														background-image: url(menu-linea-humana-portafolio-de-servicios-6_bg.png) !important;
														&:hover {
															background-image: url(menu-linea-humana-portafolio-de-servicios-6_bg_hover.png) !important;
														}
													}
												}
												&.mega-menu-item-503 {
													&.mega-current_page_item {
														a {
															background-image: url(menu-linea-humana-portafolio-de-servicios-7_bg_hover.png) !important;
														}
													}
													a {
														background-image: url(menu-linea-humana-portafolio-de-servicios-7_bg.png) !important;
														&:hover {
															background-image: url(menu-linea-humana-portafolio-de-servicios-7_bg_hover.png) !important;
														}
													}
												}
												&.mega-menu-item-504 {
													&.mega-current_page_item {
														a {
															background-image: url(menu-linea-humana-portafolio-de-servicios-8_bg_hover.png) !important;
														}
													}
													a {
														background-image: url(menu-linea-humana-portafolio-de-servicios-8_bg.png) !important;
														&:hover {
															background-image: url(menu-linea-humana-portafolio-de-servicios-8_bg_hover.png) !important;
														}
													}
												}
												&.mega-menu-item-505 {
													&.mega-current_page_item {
														a {
															background-image: url(menu-linea-humana-portafolio-de-servicios-9_bg_hover.png) !important;
														}
													}
													a {
														background-image: url(menu-linea-humana-portafolio-de-servicios-9_bg.png) !important;
														&:hover {
															background-image: url(menu-linea-humana-portafolio-de-servicios-9_bg_hover.png) !important;
														}
													}
												}
												&.mega-menu-item-506 {
													&.mega-current_page_item {
														a {
															background-image: url(menu-linea-humana-portafolio-de-servicios-10_bg_hover.png) !important;
														}
													}
													a {
														background-image: url(menu-linea-humana-portafolio-de-servicios-10_bg.png) !important;
														&:hover {
															background-image: url(menu-linea-humana-portafolio-de-servicios-10_bg_hover.png) !important;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}